body {
    background-color: #F2F1F0;
    color: #0D0D0D;
    padding: 10%;
}

.cabecalho_pagina1 {
    font-family: "Open Sans", sans-serif; 
    font-weight: 800;
    padding: auto;
    text-align: right;
}

.descricao_pagina1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: right;
}

.img_bemvindo {
    height: 200px;
    width: 200px;
}

.conteudo_base1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')